<h1><%= title %></h1>
<p><%= title %></p>
<a href="/tweet">Click here</a>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=40.188298,69.873047&amp;t=m&amp;z=4&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=40.188298,69.873047&amp;t=m&amp;z=4&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<script>
navigator.geolocation.getCurrentPosition(function (position) {
  console.log(position);
}, function (err) {
  console.log(err)
});
</script>