<div id="content">
  <div id="speech_wrapper">
    <input id="speech" type="text" x-webkit-speech placeholder="Enter the password..."/>
    <a id="skip" href="/auth/twitter">or skip...</a>
  </div>
  <p>marauder.me helps you get places.</p>
  <p>create and track an event, and see who else is around, so you're never out of the loop.</p>
</div>
<script>
  
  (function check() {
    if( $('#speech').val().match(/I solemnly swear (that )?I am up to no good/i) ) {
      document.location.href = window.location.protocol + '//' + window.location.host + '/auth/twitter';
    } else {
      setTimeout(check, 200);
    }
  }());
  
</script>
