<%- partial('nav.ejs') %>
<div id="content">
  <h2>Hello <%= user_name %>!</h2>
  <p>Enter a hashtag to find your way to the event and see your friends...</p>
  <div id="search_container" class="input_container">
    <input type="text" id="search" placeholder="#YRS2012">
    <input type="submit" id="do_search" value="Go!">
  </div>
</div>

<script>
  
  $('#do_search').click(function (ev) {
    ev.preventDefault();

    var hashtag = $('#search').val();

    hashtag = hashtag.replace(/[^a-zA-Z0-9_]/g, '');

    window.location.href = window.location.protocol + '//' + window.location.host + '/to/' + hashtag;

  });

</script>