body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue', sans-serif;
  color: white;
}
#container { 
  width: 320px;
  margin : 0 auto;
  overflow: hidden; 
  text-align: center;
}

#speech_wrapper {
  padding: 1em;
  background: #444;
}

#speech {
  width: 280px;
  font-size: 20px;
  box-shadow: none;
  border: 1px black solid;
}

#map_canvas {
  width: 320px;
  height: 320px;
}
.leaflet-control-attribution {
  display: none;
}
.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
  color: black;
}
.leaflet-popup-content {
  margin: 10px !important;
  text-align: center;
  font-weight: bold !important;
}

.leaflet-popup-close-button {
  display: none !important;
}